.container {
    padding: 30px 125px;
}

.header-nav {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

span {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}
